#ranks {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /*font-size: 0.9em;*/
}

#ranks td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 6px;
}

#ranks tr:nth-child(even){
    /*background-color:#2e3e52; */
    /*background-color: #537093; */ 
    background-color: #232F3E;
    /*color: #FF9900;*/
}
#ranks tr:hover {
    background-color: #537093;
    color: #FF9900;
}

#ranks th {
    padding: 4px;
    border: 1px solid #ddd;
    font-size: 15px;
    text-align: left;
    background-color:#2e3e52; 
    /*background-color: #232F3E;*/
    color: #FF9900;
    /*color:whitesmoke;*/
}

td.bold {
    font-weight: bold;
}
body {
    /*background-color: #537093; */
    background-color:#2e3e52; 
    /*background-color: #232F3E;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: whitesmoke;
    margin-left: 20px;
}
h1,h2,h3 {
    color: #FF9900;
    /*color:whitesmoke;*/
}
