#sng {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: "Segoe UI","Roboto","Arial","Helvetica Neue","Helvetica",sans-serif;
    border-collapse: collapse;
    font-size: 14px;
    /*font-weight: bold;*/
    /*font-size: 0.9em;*/
}

#sng td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 4px;
}

#sng tr:nth-child(odd){
    background-color: #e2e2e2; 
    /*color:rgb(23, 126, 121);*/
}

/*
#sng tr:hover {
    background-color: #6487b1;
    color: #0f031f;
}
*/
#sng th {
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    text-align: left;
    /*background-color:#040d44;*/ 
    background-color:#e2e2e2; 
    /*background-color:#6487b1;*/ 
    /* color: white; */
    color:#040d44;
}

td.bold {
    font-weight: bold;
}
body {
    background-color: whitesmoke;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: "Segoe UI","Roboto","Arial","Helvetica Neue","Helvetica",sans-serif;
    font-size: 12px;
    color:#040d44;
    /*color:rgb(23, 126, 121);*/
    margin-left: 10px;
}

.accordion {
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s; 
}

