#sng {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: "Segoe UI","Roboto","Arial","Helvetica Neue","Helvetica",sans-serif;
    border-collapse: collapse;
    font-size: 14px;
    /*font-weight: bold;*/
    /*font-size: 0.9em;*/
}

#sng td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 4px;
}

#sng tr:nth-child(odd){
    background-color: #e2e2e2; 
    /*color:rgb(23, 126, 121);*/
}

#sng th {
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    text-align: left;
    /*background-color:#040d44;*/ 
    background-color:#e2e2e2; 
    /*background-color:#6487b1;*/ 
    /* color: white; */
    color:#040d44;
}
td.bold {
    font-weight: bold;
}

#dfs_x{
    color: red;
}
body {
    background-color: whitesmoke;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: "Segoe UI","Roboto","Arial","Helvetica Neue","Helvetica",sans-serif;
    font-size: 12px;
    color:#040d44;
    /*color:rgb(23, 126, 121);*/
    margin-left: 10px;
}

.accordion {
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s; 
}

#moneyline {
    color: green;
    margin-left: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

.fixedtable {
	overflow-y: auto;
	height: 390px;
    width: 90%;
    font-size: 14px;
}
.fixedtable thead th {
	position: sticky;
	top: 0;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    background-color:#e2e2e2; 
    color:#040d44;
}
.fixedtable td {
    text-align: center;
    padding: 4px;
}
.fixedtable tr:hover {
    background-color: #9ec7fa;
    color:#040d44;
    font-weight: bold;
}
#dfsupperblock {
    width: 90%;
    height: 305px;
}
  
#dfslineupdiv {
    width: 20%;
    height: 305px;
    float: left;
}
#dfslineupdiv h3 {
    padding: 0px;
    margin: 11px;
}
  
#statsdivdfsplayer {
    margin-left: 5%;
    height: 305px;
}